* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: all 0.9s;
    z-index: 10;
   align-items: center;
}


.navbar_toggle {
    background-color: black;
    color: black;
}

/* .color {
    color: green;
} */

.nav .logo {
    padding: 3px;
    /* margin: 4px; */
    font-size: 28px;
    /* font-weight: 600; */
    text-decoration: none;
    letter-spacing: 4px;
    color: white;
    font-family: 'Rubik Wet Paint', cursive;
    padding-top: 10px;
    -webkit-text-stroke: 2px red;
}

.nav .menu_list {
    display: flex;
    align-items: center;

}


    @media only screen and (max-width: 766px) {
        .menu_list {
            position: absolute;
            top: 60px;
            left: -100%;
            background-color: black;
            width: 100%;
            height: 50vh;
            display: flex;
            flex-direction: column;
            z-index: 999;
        }

        .menu_show {
            left: 0px;
            transition: all 0.3s ease-in;
        }

        .menu_list li {
            margin-top: 16px;
        }
    }

.nav .menu_list li {
    list-style: none;

}

.nav .menu_list li a {
    text-decoration: none;
    color: #00cec9;
    padding: 4px 5px;
    margin: 4px 10px;
    cursor: pointer;
    font-size: 18px;
    /* line-height: 1; */
    transition: all 0.5 ease-in;
    position: relative;
    overflow: hidden;
}

.nav .menu_list li a::after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 2px;
    width: 0px;
    margin-right: 5px;
    /* color: orange; */
    background-color: orange;
    transition: all 0.4s ease;
    transform-origin: right;

}

.nav .menu_list li a:hover::after {
    width: 100%;
    left: 0px;
    /* transform: translateX(-50%); */

}


/* .nav .menu_list li a.active,
.nav .menu_list li a:hover {
    color: grey;

} */


.drop_down {
    top: 35px;
    right: 160px;
    position: absolute;
    background-color: #222f3e;
    cursor: pointer;
    margin-top: 10px;
    display: none;
    color: white;

}

.drop_down ul {
    padding: 0;
}

.drop_down li {
    /* margin: 4px 3px;     */
    position: relative;
    color: white;
    padding-right: 10px;
    padding-left: 3px;
    border-bottom: 1px solid white;
    display: block;
    z-index: 9999;
    /* transition: all 0.5s ease-out; */


}

.drop_down li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: yellow;
    width: 0px;
    transition: all 0.5s;
    color: white;
    z-index: -2;

}

.drop_down li:hover::before {
    width: 100%;
    color: white;

}

.drop_down li:hover {
    color: black;
    z-index: 1000;

}

.drop_btn:hover .drop_down {
    display: block;

}

.toggle_btn .bar {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.carousel-inner img {
    height: 500px;
    width: 100%;

}

@media only screen and (max-width: 500px) {
    .carousel-inner img {
        height: 230px;
    }
}


.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 10px 30px;
    font-weight: 700;
    font-size: 26px;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* margin: 5px 2px ; */

}
.mytabs label.active{
    background-color: #84d9d9;
}

.mytabs .tab {
    width: 100%;
    background-color: #84d9d9;
    padding: 10px;
    order: 1;
    display: none;
    margin-bottom: 10px;
   
    /* margin-top: 10px; */
    
}

.mytabs .tab h2 {
    font-size: 38px;
}

.mytabs input[type="radio"]:checked+label+.tab {
    display: block;

}

/* .label:hover{
background-color: #6c5ce7;
} */

.about_heading {
    position: relative;
    color: gold;
    animation: move 5s infinite;
    
}

@keyframes move {
    0% {
        color: black;
    }

    100% {
        color: yellow
    }

}

.about_heading :after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 200px;
    height: 3px;
    background-color: red;
    transform: translateX(-50%);

}

.arrow {
    border: 1px solid orange;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 30px;
    display: none;
    z-index: 10;
}

.arrow .fas{    
    padding: 15px 15px;
    font-size: 20px;
   
    animation: moveup 1.5s ease-in infinite;
}

.show{
    display: block;
} 

 @keyframes moveup{

   0%{
       transform: translateY(4px);
   }

   100%{
    transform: translateY(-3px);
}

 }

.other_section {
    background-color: #dfe6e9;
}

.other_section img {
    animation: bg 2s infinite;
    /* position: relative; */
}

@keyframes bg {
    0% {
        filter: grayscale(30%);
    }

    75% {
        filter: grayscale(75%);
        filter: brightness(50%);
    }

    100% {
        filter: grayscale(100%);
    }
}


.other-section1 img {
    animation: change 6s infinite;
}

@keyframes change {
    0% {
        filter: grayscale(100%);
        filter: blur(50%);
    }

    75% {
        filter: grayscale(65%);
        filter: brightness(60%);
    }

    100% {
        filter: grayscale(10%);
    }
}

.other_content .accordion-button {
    box-shadow: none;
    margin-top: 2px;
}

.main_container {
    width: 100%;
    max-width: 50vw;
    background-color: #222f3e;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.main_container div {
    height: 120px;
    width: 120px;
    border: 1px solid orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px orange;
    animation: shadow 4s infinite;
}

@keyframes shadow{
    0%{
        box-shadow: 2px 2px 3px 2px orange;
    }   
    25%{
        box-shadow: 2px 3px 2px 2px rgb(193, 221, 70);
    }
    50%{
        box-shadow:  -2px -3px -2px -3px rgb(44, 148, 52);
    }
    75%{
        box-shadow:  -2px -3px -2px -4px  rgb(76, 140, 170);
    }
    100%{
        box-shadow: -2px -3px -2px -2px rgb(44, 148, 52);
    }
}


.main_container div span {
    color: white;
    font-size: 28px;
}

.main_container div h {
    color: red;
}

.services_page {
    background-color: #dfe6e9;
    margin-top: 28px;
}

.services_heading h3 {
    position: relative;
    color: gold;
    animation: move 5s infinite;
}

@keyframes move {
    0% {
        color: black;
    }
    100% {
        color: gold;
    }
}

.services_heading h3:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 200px;
    height: 3px;
    background-color: red;
    transform: translateX(-50%);

}

.services_content {
    animation: left;
}

.services_content h {
    font-size: 25px;
}

.services_content p {
    font-size: 18px;
}

.services_page .box {
    padding: 5px 10px;
    background-color: #b2bec3;
    box-shadow: 4px 4px 8px #b2bec3;
    transition: all 0.4s ease;
}

.box .box_icon {
    font-size: 35px;
    line-height: 1.5;

}

.services_page .box:hover {
    box-shadow: 7px 6px 11px #b2bec3;
    transform: translateY(-5px);
}

.parallax_container .box {

    height: 310px;
    width: 100%;
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../img/computer.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box h {
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.parallax_container .box p {
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and ( max-width:450px){
    .parallax_container .box h{
        font-size: 25px;
        padding: 10px auto;
    }

    .parallax_container .box p{
        font-size: 20px;
        padding: 10px auto;
    }

}
   
.parallax_container .box input {
    width: 320px;
    height: 40px;
    outline: none;
    border-radius: 15px;
    padding-left: 5px;
    text-align: center;
    background-color: white;
}

.contact_page{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
    margin-top: 70px;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../img/002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

.contact_page .contact_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    border: 1px solid lightblue;
    padding: 20px 0;

}

.contact_heading h3{
    color:white;
}

.contact_details input{
    height: 45px;
    width: 60%;
    margin: 5px 0;
    padding: 5px;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
   color: yellow;
 
}

.contact_details input:focus{
    /* background-color: transparent; */
    border: 1px solid white;


}

.contact_details input::placeholder{
    color: crimson;
  letter-spacing: 2px;
  font-weight: 600;
}

.contact_details .comment_box{
    height: 40%;
    width: 60%;
    background-color: transparent;
    color: crimson;
}

.action_btn{
    /* border: 1px solid red; */
    width: 60%;
    height: 40px;
    margin-top: 8px;
   
}

.contact_details .action_btn input{
   border: 2px solid white;
   width: 30%;
   margin: 0 4px;
   display: inline-block;
   font-weight: 600;
   color: white;

}

.contact_details .action_btn input[type="submit"]{
    background-color: transparent;
    color: white;

}

.contact_details .action_btn input[type="reset"]{
    background-color: transparent;
    color: white;
}
.contact_details .action_btn input[type="submit"],input[type="reset"]:hover{
    background-color: white;
    color: black;

}

/* .contact_details .action_btn input[type="reset"]:hover{
    background-color: white;
    color: black;
} */

/* ...........footer styleing.......... */

section.footer{
    background-color: black;
}

.footer_content{
    display:flex;
    flex-direction: column;
}



.footer_content .footer_title{
    color: rgb(189, 172, 22);
    font-weight: 600;
    font-size:21px;
    margin-bottom: 20px;
    position: relative;
}

.footer_title::before{
    content: "";
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-color:orange;

}

.footer_text ul {
    padding:0px;
}

.footer_text ul li{
    list-style: none;
    line-height: 1.9;

}

.footer_text ul li a{
    text-decoration: none;
    color:white;
    
}

.footer_text ul li a:hover{
    color: wheat;
}

@media only screen and(max-width:372px){

.logo{
    padding: 10px;
    font-size: 15px;
}
}
